* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-size: large;
}



.container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.calc {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #eee;
  border: 3px solid #bbb;
  width: 260px;
  border-radius: 5px;
}



.div_p {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
}

.div_teclas {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 245px;
  flex-wrap: wrap;
}


.tecla {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #aaa;
  border: 3px solid #888;
  border-radius: 10px;
  font-weight: bold;
  width: 56px;
  height: 55px;
  cursor: pointer;
  margin: 2px;
}

.teclaOp {
  background-color: #88a!important;
  border-color: #fff !important;
}



/* Display */
.div_display {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 238px;
}



.display {
 width: 232px;
 background-color: #88a;
 text-align: end;
 padding: 5px;
 font-family: monospace;
 font-size: 1.7em;
}
